
#wrapper {
	border-radius: 50%;
	height: 200px;
	width: 200px;
	overflow: hidden;
	position: relative;
}

#button1 {
	background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,0.3);
 	background-image: url(../image/Me.png);
 	border-color: black;
 	height: 100px;
 	width: 100px;
 	top: 0;
 	left:0;

}

#button2{
	background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: red;
 	background-image: url(../image/Me.png);
 	border-color: black;
 	height: 100px;
 
 	width: 100px;
 	top: 0;
 	right:0;
}

#button3{
	background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: blue;
 	background-image: url(../image/Me.png);
 	border-color: black;
 	height: 100px;
 
 	width: 100px;
 	bottom:  0;
 	right: 0;
}

#button4{
	background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: green;
 	background-image: url(../image/Me.png);
 	border-color: black;
 	height: 100px;
 	
 	width: 100px;
 	bottom:0;
 	left:0;

}

#button5{
	border-radius: 50%;
	background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(10,10,10);
 	background-image: url(../image/Home.png);
 	border-color: black;
 	height: 100px;
 	width: 100px; 
 	transition: 0.5s;
 	top: 50px;
    left: 50px;
}

#button5:hover{
	background-color: rgb(255,255,255);
}

.button{
cursor: pointer;
position: absolute;
opacity: 1;

}
.button:hover{
	
	opacity: 0.7;
}

